{% extends 'blog/base.html' %}

{% block content %}
	<div class="post">
		<h2 class="center">{{ cv.title }}</h2>
		<p class="center"><small>Created: {{ cv.created_date }}</small></p>
		<p>{{ cv.name }}</p>
		<p>{{ cv.address_line_1 }}</p>
		<p>{{ cv.address_line_2 }}</p>
		<p>{{ cv.address_line_3 }}</p>
		<p>{{ cv.town }}</p>
		<p>{{ cv.postcode }}</p>
		<p>{{ cv.phone }}</p>
		<p>{{ cv.email }}</p>
		<h3>Personal Profile</h3>
		<p class="justify">{{ cv.personal_profile|linebreaksbr }}</p>
		<h3>Education</h3>
		<p><u>University</u></p>
		<p>{{ cv.university_name }}</p>
		<p class="justify">{{ cv.modules_studied|linebreaksbr }}</p>
		<p><u>Sixth Form or College</u></p>
		<p>{{ cv.sixth_form_or_college_name }}</p>
		<p class="justify">{{ cv.alevel_results|linebreaksbr }}</p>
		<p><u>School</u></p>
		<p>{{ cv.school_name }}</p>
		<p class="justify">{{ cv.gcse_results|linebreaksbr }}</p>
		<h3>Experience and Employment</h3>
		<p class="justify">{{ cv.experience|linebreaksbr }}</p>
		<p class="justify">{{ cv.employment|linebreaksbr }}</p>
		<h3>Skills and Achievements</h3>
		<p class="justify">{{ cv.skills_and_achievements|linebreaksbr }}</p>
		<h3>References</h3>
		<p>{{ cv.academic_referee }}</p>
		<p class="justify">{{ cv.academic_referee_contact_details|linebreaksbr }}</p>
		<p>{{ cv.employment_referee }}</p>
		<p class="justify">{{ cv.employment_referee_contact_details|linebreaksbr }}</p>
		{% if user.is_authenticated %}
			<a href="{% url 'cv_edit' pk=cv.pk %}" class="btn btn-default">Edit CV</a>
			<a class="btn btn_default" href="{% url 'remove_cv' pk=cv.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
		{% endif %}
		<a href="{% url 'cv_list' %}" class="btn btn-default">Back</a>
		

	</div>
{% endblock %}