{% load static %}
<html>
<head>
	<title>Computer Science Project: Blog and CV Editor</title>
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	<div class="page-header">
		<nav>
		<ul>
		<li><a href="/">Home</a></li>
		<li><a href="{% url 'post_list' %}">Blog</a></li>
		{% if user.is_authenticated %}
			<li><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a></li>
			<li><a href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span></a></li>
			<li><a href="{% url 'cv_list' %}">CV</a></li>
			<li>Hello {{ user.username }} <small>{<a href="{% url 'logout' %}" >Log out</a>}</small></li>
		{% else %}
			<li><a href="{% url 'cv_list' %}">CV</a></li>
			<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-lock"></span></a></li>
		{% endif %}
		</ul>
		</nav>
	</div>
	<div class="content">
		
		{% block content %}
		{% endblock %}
		
	</div>
	<div class="page-footer">
		<h2><strong>Created by: Lilian Breese-Tovey</strong></h2>
	</div>
</body>
</html>