{% extends 'blog/base.html' %}

{%block content %}
	<h1 class ="center">Blog Posts</h1>
	{% for post in posts %}
		<div class="post">
			<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
			<p class="line-clamp-overflow">{{ post.text|linebreaksbr }}</p>
			<div class="date">
				<p class="date"><small>Published: {{ post.published_date }}</small></p>
			</div>
			<a href="{% url 'post_detail' pk=post.pk %}" id="comment">Comments: {{ post.approved_comments.counter }}</a>
		</div>
	{% endfor %}
{% endblock %}
			