body{
	display: inline-block;
}
.page-header{
	background-color: hsl(180deg, 100%, 15.5%);
	margin-top: 0px;
	padding: 20px 20px 40px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
	color: #FFFFFF;
	font-size: 36pt;
	text-decoration: none;
}

.page-footer{
	background-color: hsl(180deg, 100%, 15.5%);
	padding: 10px 20px 10px 40px;
}

.page-footer h2, .page-footer h2 a, .page-footer h2 a:visited, .page-footer h2 a:active{
	color: #FFFFFF;
	font-size: 14pt;
	text-decoration: none;
}

.content {
	margin-top: 0px;
	padding: 20px 20px 40px 40px;
	/*background-color: hsl(180deg, 100%, 85%);*/
	background: linear-gradient(0deg,hsl(180deg, 100%, 30%),#FFFFFF);
}

h1{
	font-family: 'Lobster', cursive;
}

 h2, h3, h4{
	 font-family: "Roboto", sans-serif;
	 font-size:20pt;
	 font-weight: bold;
	 text-decoration: underline;
 }

p{
	font-family: "Roboto", sans-serif;
	font-size: 16pt;
	color: #550f21;
	--lne-height: 2.4rem;
	line-height: var(--lne-height);
}
	
.date{
	color: #993a4d;
}

.save{
	float: right;
}

.post-form textarea, .post-form input{
	width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited{
	color: #FFFFFF;
	float: right;
	font-size: 26pt;
	margin-right: 20px;
}

.log-out{
	color: hsl(180deg, 100%, 50%);
}

.log-out:hover{
	color: hsl(180deg, 100%, 30%);
	font-style: underline;
}

.post{
	margin-bottom: 70px; 
}

.post h2 a, .post h2 a:visited, .post h2{
	color: #550f21;
}

.comment {
	margin: 20px 0px 20px 20px;
	font-size: 14pt;
}

#comment{
	color: #993a4d;
	font-style: underline;
}

.line-clamp-overflow{
	--max-lines: 3;
	position: relative;
	max-height: calc(var(--lne-height)*var(--max-lines));
	overflow: hidden;
	padding-right: 1.5rem;
}

.line-clamp-overflow::before{
	position: absolute;
	content: "...";
	bottom: 0;
	right: 0;
}

.line-clamp-overflow::after{
	content: "";
	position: absolute;
	right: 0;
	width: 1rem;
	height: 1rem;
}

